version: '3.8'

services:
  neo4j:
    image: neo4j:5-community
    container_name: ${NEO4J_CONTAINER_NAME:-neo4j}
    restart: unless-stopped
    ports:
      - "${NEO4J_HTTP_PORT:-7474}:7474"   # HTTP Browser - Access at http://localhost:${NEO4J_HTTP_PORT:-7474}
      - "${NEO4J_BOLT_PORT:-7687}:7687"   # Bolt protocol - Connect at bolt://localhost:${NEO4J_BOLT_PORT:-7687}
    volumes:
      - ${NEO4J_DATA_DIR:-./neo4j-data}/data:/data
      - ${NEO4J_DATA_DIR:-./neo4j-data}/logs:/logs
      - ${NEO4J_DATA_DIR:-./neo4j-data}/import:/import
      - ${NEO4J_DATA_DIR:-./neo4j-data}/plugins:/plugins
      - ${NEO4J_DATA_DIR:-./neo4j-data}/conf:/conf
    environment:
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
      NEO4J_apoc_import_file_use__neo4j__config: "false"
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_AUTH: "${NEO4J_AUTH:-neo4j/change-password}"
      NEO4J_server_memory_heap_initial__size: "${NEO4J_HEAP_INITIAL:-2G}"
      NEO4J_server_memory_heap_max__size: "${NEO4J_HEAP_MAX:-4G}"
      NEO4J_server_memory_off__heap_max__size: "${NEO4J_OFF_HEAP_MAX:-1G}"
      NEO4J_db_memory_transaction_max: "${NEO4J_TX_MAX:-1G}"
      NEO4J_db_memory_transaction_total_max: "${NEO4J_TX_TOTAL_MAX:-1G}"
      NEO4J_db_tx__log_rotation_size: "100m"
      NEO4J_db_tx__log_rotation_retention__policy: "1 files"
      NEO4J_db_checkpoint_interval_time: "1m"
      NEO4J_db_checkpoint_interval_volume: "1g"
      NEO4J_initial_dbms_default__database: "${NEO4J_DATABASE:-neo4j}"

